/* Utilities */
.max-container {
  max-width: 1700px;
  margin: 2rem 10rem 3rem 10rem;
  /* margin-bottom: 3rem; */
}

.btn-auth {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #d32323;
  padding: 10px 127px;
  font-weight: bolder;
  text-decoration: none;
  line-height: 1.3125em;
  margin-top: 25px;
  margin-bottom: 10px;
  border: none;
}

.login-pics {
  height: 1000px;
  width: 1200px;
  margin-top: -90px;
  overflow: hidden;
  z-index: -1;
  margin-left: 500px;
  position: fixed;
}

.place-order {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  background: #d32323;
  padding: 7px 20px;
  text-decoration: none;
  line-height: 1.3125em;
  margin-top: 25px;
  border: none;
}
